* {
	margin:  0;
	padding:  0;
	box-sizing:  border-box;
}

body {
	font-size: 14pt;
	font-family: Arial;
	margin:  10px;
}

table {
	width: 600px;
	margin:  10px 0;
	text-align: center;
	background-color:  black;
}
td,th {
	padding: 10px;
	background-color:  white;
}

a {
	padding: 0 10px;
	text-decoration: none;
	cursor:  pointer;
	color:  black;
}

a:hover {
	text-decoration: underline;
}

img {
	max-width: 300px;
	margin: 10px 0;
	object-fit: cover;
}

h1, h2 {
	margin-top: 20px;
}

h1,h2,h3,h4,h5,p {
	padding: 5px 0;
}

form {
	width: 600px;
}

input, textarea, button {
	font-family:  Arial;
	padding-left: 10px;
	font-size: 14pt;
	margin:  10px 0;
	height: 50px;
	width: 100%;
}
input[type=file] {
	padding:  0;
	height:  30px;
}

textarea {
	padding:  10px;
	height: 200px;
}

button {
	padding: 0;
}

div.img {
	margin: 10px 0;
}